
body {
      background-color: #000;
      background-image: url("http://www.my-hd-wallpapers.com/wall_format/1407184674_black-and-white-cat-with-colored-glasses_iphone.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
   }
