body {
      background-color: #000;
      background-image: url("http://iphone-wallpaper.cocolog-nifty.com/photos/uncategorized/2013/02/09/iphone5_40.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
   }
